
<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<%= form_with(url: contacts_path, method: "get", local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :search, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= submit_tag ("Search"), class: "btn btn-primary"%>
  </div>

<%end%>

<table class="table table-light table-hover">
  <thead class = "table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col-mid" colspan= "3" style= "text-align:center">Actions</th>

    </tr>
  </thead>

  <tbody>
    <% @contacts.each_with_index do |contact, index| %>
      <tr>
        <th scope="row"><%="#{index + 1}" %></th>
        <td><%=contact.first_name%></td>
        <td><%=contact.last_name%></td>
        <td><%=contact.email%></td>
        <td><%=contact.mobile%></td>

        <td><%= link_to 'Show', contact_path(contact.id) %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Contact', new_contact_path %>
