<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Mobile</th>
    <th scope="col">Gender</th>
    <th scope="col">Street Address</th>
    <th scope="col">City</th>
    <th scope="col">State</th>
    <th scope="col">Country</th>
    <th scope="col">Zip Code</th>

  </tr>
  </thead>

  <tbody>
      <tr>
        <th scope="row"></th>
        <td><%=@contact.first_name%></td>
        <td><%=@contact.last_name%></td>
        <td><%=@contact.email%></td>
        <td><%=@contact.mobile%></td>
        <td><%=@contact.gender%></td>
        <td><%=@contact.street_address%></td>
        <td><%=@contact.city%></td>
        <td><%=@contact.state%></td>
        <td><%=@contact.country%></td>
        <td><%=@contact.zip_code%></td>
      </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>


